.back-Color {
    background: linear-gradient(310deg, rgba(253, 249, 241, 1) 100%, rgba(33, 249, 150, 1) 100%);
    border-radius: 20px;
}

.review_inner::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background: #F5C300;
    left: 0;
    top: 0;
    border-radius: 50px;
}