.shopify_built {
    display: flex;
    gap: 6px;
    border-radius: 25px;
    background: #E0F0FF;
    max-width: max-content;
    padding: 5px 15px;
    margin-bottom: 15px;
    align-items: center;
}

.app_title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: unset;
    letter-spacing: 0;
    color: #000;
}