.back_image:before {
    content: "";
    position: absolute;
    top: 23px;
    right: 0px;
    background: url("../../Images/Incorporated.svg") no-repeat scroll 0 0;
    background-size: 100% 100%;
    width: 21.25%;
    padding-bottom: 14.4%;
}

.back_image {
    background: linear-gradient(180deg, rgba(22, 29, 37, 1), rgba(0, 0, 0, 1) 100%);
}